nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10dvh;
    background-color: lightcyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.logo{
    color: rgb(124, 5, 35);
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;

}
.nav-links li{
    list-style: none;

}

.nav-links a{
    color: rgb(124, 5, 35);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;


}

.nav-links li{
    opacity: 0;
}

.nav-active li{
    opacity: 1;
}

.burger{
    display: block;
    cursor: pointer;
}

.burger div{
    width: 20px;
    height: 5px;
    background-color: rgb(255, 8, 0);
    margin: 3px;

}

@keyframes nav-links {
    from{
        opacity: 0;
        transform: translateX(50px);
    } 
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}

.box1 {
    background-color: cadetblue;
    height: 5px;
    margin: 0;
    padding: 0;

}
.Me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


}

.box2{
    margin: 0;
    padding: 0;
    border:0;
    display: block;
    width: 100vw;
    height: 02vh;
    background-color: rgb(34, 82, 110);
    text-align: center;
    font-size: 25px;
    color:aliceblue;


}

.midbox {
    background-color: aliceblue;
    width: 100vw;
    height: 05vh;



}

.box3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: darkslategray;
    


}

.box4 {
    display: block ;
    padding: 5px;
    background-color: darksalmon;
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(3, 153, 163);
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 51vw;


}

.line{
    background-color: darkslategray;
    height: 3px;


}
/* Below is untested. */


/* .badS {
    display: block;
    margin: auto;


} */

.slideshow-container {
    max-width: 50vh;
    position: relative;
    margin: auto;
}

.img {
    vertical-align: middle;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

.mySlidesfade {
    animation-name: fade;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}
.slide {
    
    opacity: 0;


}

.slidescontainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .slidescontainer div {
   grid-row-start: 1;
   grid-column-start: 1;
  }
@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}